<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    <add key="FileFormat" value="JSON"/>
    <add key="URL" value="http://agl-developer-test.azurewebsites.net/people.json"/>
  </appSettings>
</configuration>